@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Color themes */
    --primary: 330 100% 48%;
    --secondary: 235 30% 20%;
    --secondary-foreground: 219 13% 46%;
    --background: 0 0% 100%;
    --accent: 330 92% 99%;
    --foreground: 0 0% 20%;
    --muted: 0 0% 34%;


    /* Fonts */
    --font-poppins: "Poppins", sans-serif;
    --font-opensans: "Open Sans", sans-serif;
  }

  .box {
    @apply lg:w-[85%] w-[93%] mx-auto max-w-screen-2xl;
  }
}

::-webkit-scrollbar {
  width: 0.2em;
  height: 0.2em;
}
body::-webkit-scrollbar {
  width: 0.3em;
  height: 0.3em;
}

::-webkit-scrollbar-thumb {
  background: hsl(var(--primary));
  border-radius: 0.05rem;
}

::selection {
  background: hsl(var(--primary) / 0.25);
}
